discord.py==2.5.0
docker==7.1.0
python-dotenv==1.2.2
colorama==0.4.6
psutil==7.2.2
matplotlib==3.10.0
aiohttp==3.14.1
aiomysql==0.2.0
aiosqlite==0.22.1
cryptography==45.0.0
pillow==11.2.0
typing-extensions==4.15.0
requests==2.33.0
croniter==6.0.0
aiofiles==25.1.0
